<%include header%>
<div class="container-fluid full-bg-container">
	<br>
	<h3 class="text-center text-white">
		Forgot your password?
	</h3>
	<br>
	<div class="card card-body col-md-6 mx-auto">
		<form action="" method="post">
			<label for="email">Enter your Email Address </label>
			<input type="email" name="email" id="email" class="form-control" placeholder="Enter your email address">
			<br>
			<input type="submit" value="Send password reset link" class="btn btn-success">
		</form>
	</div>
</div>
<%
	locals.info.forEach(data=>{
		String.prototype.capitalize = function() {
		    return this.charAt(0).toUpperCase() + this.slice(1);
		}
	%>
		<script>
			swal({
			  title:'<%=data.type.capitalize()%>',
			  html: '<%-data.msg%>',
			  type:'<%=data.type%>'
			})
		</script>

	<%
})
%>
<%include footer%>