<%include header%>
<div class="container-fluid full-bg-container">
	<br>
	<h3 class="text-center text-white">
		Reset your password
	</h3>
	<br>
	<div class="card card-body col-md-6 mx-auto">
		<form action="" method="post">
			<label for="email">Your Email Address </label>
			<input type="email" name="email" id="email" class="form-control" readonly="true" value="<%=email%>">
			<br>
			<label for="password">Enter new password</label>
			<input type="password" name="password" id="password" class="form-control" placeholder="Enter new password, at least 6 characters">
			<br>
			<label for="rpassword">Confirm your password</label>
			<input type="password" name="rpassword" id="rpassword" class="form-control" placeholder="Confirm your password">
			<br>
			<input type="submit" value="Change Password" class="btn btn-success">
		</form>
	</div>
</div>

<%include footer%>